<context>

Code for Review (PR Diff):
<codeForAnalysis>
{{.Diff}}
</codeForAnalysis>

<rules>
{{.RulesJSON}}
</rules>

Your output must always be valid JSON. Under no circumstances should you produce anything other than JSON. Follow the exact format below with no additional text or explanation:
IMPORTANT: if the array is empty, the output must still conform to the specified JSON format, e.g. { "rules": [] }

<OUTPUT_FORMAT>
DISCUSSION HERE

```json
{
    "rules": [
        {"id": "ruleId", "reason": ""}
    ]
}
```
</OUTPUT_FORMAT>
</context>
